<!--end content-->
<?php
//如果用户是管理员并且当前页面不为logout.php
//或者$loggedin变量为TRUE（例如，用户刚刚登陆）
//显示管理连接......
if(  (is_administrator()&&(basename($_SERVER['PHP_SELF'])!='logout.php')) or (isset($loggedin) && $loggedin)  ){
	print '<hr/><h3>Admin</h3><p><a href="add_quote.php">Add Quote</a><->
								 <a href="view_quote.php">View All Quotes</a><->
								 <a href="logout.php">Logout</a><->';
}else{
	print '<p><a href="login.php">Login</a><->';
}
print '<a href="index.php">Index</a><p>'
?>
</div>
<div id="footer">Content &copy;2013 </div>
</body>
</html>