<?php
include('includes/functions.php');
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="展示名言的一个网站" />
<link rel="stylesheet" media="all" href="css/style.css" /><!--不写成../css/style.css 是因为根目录下的文件引用header.html-->
<title>
	<?php
		if(defined('TITLE')){
        	print TITLE;
		}else{
        	print 'My Site of Quotes';
        }
	?>
</title>
</head>

<body>
<div id="container">
	<h1>My Site of Quotes</h1>
    <br/>
<!--begin content-->
